body{
  background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-position: center;
  height:100vh;
  background-size: cover;
}

section{
  text-align: center;
  font-size:25px;
  font-family: "roboto",sans-serif;
}
.buttonone {
  font-size:30px;
  padding:10px;
  border-radius: 10px;
  font-family: "roboto", sans-serif;
}

.buttonone:hover {
  background-color: black;
  color:white;
}
.h1{
  border:1px solid black;
}

.o{
  height:250px;
  width:350px;

}
