body{
 background-image: url(https://images.pexels.com/photos/9749/hands-water-poor-poverty.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
height: 100vh;
background-size: cover;
background-position: center;
}

.main-nav{
 float: right;
 list-style: none;
 margin-top: 30px;
 border: 1px solid black;
 background-color: black;
}
.main-nav li{
 display: inline-block;
}

.main-nav li a{
 font-family: "roboto", sans-serif;
 color:white;
 text-decoration:none;
 padding:5px 20px;
 font-size: 5vw;
}

.main-nav li a:hover{
  border:1px solid white;
}
